:root {
  --bs-primary: #0f79af;
  --bs-primary-focus: #0a608c;
  --bs-dark: #0f171e;
  --bs-ultra-dark: #090e12;
}

.bg-dark {
  background-color: var(--bs-dark) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: var(--bs-primary-focus) !important;
}

a:not(.btn) {
  color: var(--bs-primary);
}

a:not(.btn):hover,
a:not(.btn):focus {
  color: var(--bs-primary-focus);
}

.btn {
  border-radius: 0.125rem !important;
}

.btn-lg {
  padding: 1rem 1.75rem !important;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bs-primary-focus);
  border-color: var(--bs-primary-focus);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(10 96 140 / 74%);
}

.logo-container-image {
  height: 50px;
  width: auto;
}
.logo-scroll {
  animation: 20s scroll infinite linear;
  width: max-content;
}
.logo-container {
  max-width: 100px;
  overflow: hidden;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-85%);
  }

  100% {
    transform: translateX(0);
  }
}
